@font-face {
    font-family: Inter_18pt-Regular;
    src:url('../fonts/Inter/Inter_18pt-Regular.ttf')format('truetype');
    font-style: normal;
    font-weight: normal;
}

.homepage {
    background-image: url('vrumbg.png');
    background-repeat: no-repeat; /* Ensures the image does not repeat */
    background-position: top center; /* Positions the image at the top and center horizontally */
    background-size: cover; /* Ensures the entire image fits within the container */
    height: 100vh; /* Adjust the height of the container as needed */
    background-color: #000;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.new-header {
     /* Light background color for contrast */
    color: #fff; /* Text color */
    padding: 20px;
    text-align: center;
    border-top: 10px solid #000; /* Optional border for separation */
    background-color: #022B3A;
    font-family: Inter_18pt-Regular;
    text-decoration: underline;
    font-size: 32px;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    letter-spacing: 10px;
   
}

    .homepage h1{

        padding-top: 200px;
    }
    .homepage h3{

        padding-bottom: 30px;
    }
    .homepage h1,h3{

   
    font-family: Inter_18pt-Regular;
 
    font-size: 32px;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black, 2px 2px 0 black;
    letter-spacing: 10px;
    color: #fff;
}
    .homepage a {
 
    background: #CFB28480;
    display: inline-block;
    padding: 10px 30px;
    border: 3px solid #1A3636;
    border-radius: 4px;
    color: #1A3636;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    font-family: Inter_18pt-Regular;
 
}
    .homepage a:hover {
    background: #CFB284;
    color: #000;
}

.MainContent {
    flex: 1; /* Pushes the footer to the bottom when content is less */
    text-align: center;

    
}