@font-face {
    font-family: Abel-Regular;
    src:url('../fonts/Abel/Abel-Regular.ttf')format('truetype');
    font-style: normal;
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
 }
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures it covers the full height of the viewport */
}



footer {
    background-color: #022B3A;
    color: #C9C9C9;
    text-align: center;
    padding: 20px 10px;
    font-size: 14px;
    width: 100%;
    font-family: Abel-Regular;
}

.footer-links {
    margin-bottom: 40px;
}

.footer-links a {
    font-size: 16px;
    color: #C9C9C9;
    text-decoration: none;
    margin: 0 5px;
}

.footer-links a:hover {
    text-decoration: underline;
    color:#fff;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.footer-text {
    font-size: 15px;
    text-align: left;
    flex: 1;
    padding-left: 30px;
    font-family: Abel-Regular;
}

.footer-socials {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    flex: 1;
    padding-right: 90px;
}

.hover-svg path {
    transition: fill 0.3s ease;
    fill: #C9C9C9; /* Default color */
}

.hover-svg:hover path {
    fill: #ffffff; /* Change color to Instagram pinkish-red on hover */
}

.footer-socials a {
    display: inline-block;
}
